body{
    margin: 0;
    padding: 0;
    background:fixed;
    background-color: rgb(157, 157, 180);
    font-family: 'Sniglet', cursive;
    font-size: 30px;


}

#navbar{
    display: flex;
    align-items:center ;
}
#navbar div{ height: 100%;
    width: 10px;
    font-size: 50px;
    align-items: center;
    justify-content: center;

}
#navbar ::before{
    content : " ";
    background-color: rgb(97, 97, 177);
    position: absolute;
    height: 9%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

ul li:hover{
    color: black;
    background-color: blanchedalmond;
}
.container{
    align-items: center;
    justify-content: center;
    padding: 3px 20px;
}
.cone{
    
    display: flex;
    flex-direction: column;
    padding:  20px;
}
 .cone ul li{
     display: block;
     block-size: 20px 3px;
     padding: 2px ;
     
     background-color: rgb(211, 209, 206);
     color: black;
     margin: 25px;
     border-radius: 1.3rem;
     cursor: auto;

}
.cone ul li:hover{
    color: black;
    background-color: burlywood;


.para{
    position: absolute;
}